PORT = 3000

#Connection Db
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_SID=
DB_SSL=   # ou false
HASH_SERVICE_URL=http://127.0.0.1:3003/api
HASH_SERVICE_TIMEOUT=10000

API_BASE_URL_ACESS_LOGS =http://127.0.0.1:3000/api